<h2>Student list</h2>
  <button md-button [routerLink]="['/students/new']">Add New Student</button>
<md-card>
  <md-list class="app-list">
    <md-list-item *ngFor="let student of students">
      <h3 md-line [routerLink]="['/students', student.id]">Name: {{student.first_name}} </h3>
      <p md-line>Surname: {{student.last_name}} </p>
      <p md-line > Age: {{student.age}} </p>
      <button md-button [routerLink]="['/students', student.id]">Edit</button>
      <button md-raised-button color="accent" [routerLink]="['/students', student.id]">Delete</button>
    </md-list-item>
  </md-list>
</md-card>
